<!DOCTYPE html>
<html>
<head>
  <title>GA Lost & Found</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='/style.css'>
</head>
<body>
   <div class="navigation">
      <form class="navbar-form navbar-left search" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <nav class="nav navbar-right interactive">
          <div class="login-signup">
            <button type="button" class="btn btn-default navbar-btn">LOGIN</button>
            <button type="button" class="btn btn-default navbar-btn">SIGNUP</button>
        </div>
      </nav>
  </div>
  <div class="container">
    <div class="row">
      <div class=".col-md-6 .col-md-offset-3" id="main">
        <div class="logo"> <!-- LOGO -->
          <img src="/lnf.png" class='img-responsive' id="logo-img"> 
          <!-- needs to be edited later for non local host such as DO -->
        </div>
      </div>
  </div>
  </div>
      <footer class="footer">
      <div>
      <a href="https://github.com/dpatlut/LostFound-Board"><i class="fa fa-github-alt fa-2x github"></i></a>
      <p class="copyright">Copyright &copy 2015 | David Patlut</p>
      </div>
    </footer>
</body>
</html>


