<!DOCTYPE html>
<html>
<head>
  <title>GA Lost & Found</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='/style.css'>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="http://localhost:3000/lnf.gif" class='img-responsive' id="lnf-img"> 
      </div>
      <div class="col-md-6" id="main">
        <div class="logo"> <!-- LOGO -->
          <img src="http://localhost:3000/logo.png" class='img-responsive' id="logo-img"> 
          <!-- needs to be edited later for non local host such as DO -->
        </div>
        <div class="login-signup"> <!-- LOGIN/REGISTER -->
          <a href="/login" class="btn btn-default home" id='login'><span class="fa fa-sign-in fa-3x"></span><p id='login-text'>LOGIN</p></a>
          <a href="/register" class="btn btn-default home" id='register'><span class="fa fa-user-plus fa-3x"></span><p id='signup-text'>SIGNUP</p></a>
        </div>
      </div>
      <div class="col-md-3"></div>

    </div>
  </div>
</body>
</html>