	<!DOCTYPE html>
	<html lang="en">
	<head>
  <title>GA Lost & Found</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='/new-style.css'>
	</head>
	<body>
    <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="http://localhost:3000/lnf.gif" class='img-responsive' id="lnf-img"> 
      </div>
      <div class="col-md-6" id="main">
            <form action='/lost' method='POST'>
            <div class="form-group">
            <label>Category</label>
            <select name="category" class="form-control">
                <% category.forEach(function(cat){ %>
                <option value="<%=cat.category%>" name="category"><%=cat.category%></option>
                <% }) %>
            </select>
             </div>
            <div class="form-group">
            <label>Short Description (100 Char. limit)</label>
            <input type="text" name="short_descr" class="form-control" maxlength="100">
            </div>
            <div class="form-group">
            <label>Post Content</label>
            <textarea name='content' placeholder="Enter your lost post here....." class="form-control"></textarea>
            </div>
            <div class="form-group">
            <label>Location (Room/Floor/Building)</label>
            <input type="text" name="location" class="form-control">
            </div>
            <button type="submit" class="btn btn-warning btn-lg">Submit</button>
        </form>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
</body>
</html>