body{
	background-image:url(http://localhost:3000/background.jpg);
	background-size: cover;
	background-position: fixed;
	background-repeat: no-repeat;
	font-family: monospace;
}




#main{
	text-align: center;
	margin-top: 2%;
}

.detail-text{
	display:none;
}

#comment{
	margin-bottom: 2%;
}

.comments-title{
	text-align: justify;
}