body{
	background-image:url(http://localhost:3000/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}



/* Main Page /index */
#main{
	    margin-top: 15%;
}

#login-text{
	font-size: 30px;
    color: #000000;
    font-weight: bold;
    font-family: monospace;
}

#signup-text{
	font-size: 30px;
    color: #000000;
    font-weight: bold;
    font-family: monospace;
}

#logo-img{
	margin:auto;
}

#login{
	margin-right: 25%;
}

.home{
	border: 9px ridge #BA9561;
}

.login-signup{
	margin-top: 25%;
	text-align:center;
}