.enter{
	text-align:center;
	font-size:21px;
}

#main{
	    margin-top: 8%;
}

#login-text{
	font-size: 30px;
    color: #000000;
    font-weight: bold;
    font-family: monospace;
}

#signup-text{
	font-size: 30px;
    color: #000000;
    font-weight: bold;
    font-family: monospace;
}

#logo-img{
	margin:auto;
}

#login{
	margin-right: 25%;
}

.navbar-btn{
	height: 60px;
    background-color: transparent;
    border-top: none;
    border-bottom: none;
    font-size: 21px;
    border-radius: 0px;
    color: #FFFFFF;
    border-color: #1E0800;
    border: 1px solid white;
    margin:0 auto;
}

